<footer>
  <hr>

  <p>
    dependency-management-data is a project from <a href="https://www.jvt.me">Jamie Tanna</a>, which is licensed under
    the <a href="https://spdx.org/licenses/Apache-2.0.html">Apache 2.0 license</a>. Site is built with <a
      href=https://gohugo.io />Hugo</a> and <a href="https://classless.de/">Classless.css</a>, and is licensed under the
    <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/legalcode">Creative Commons Attribution Non Commercial
      Share Alike 4.0 International</a>.
  </p>

  <p>Additional links that may be of interest:</p>

  <ul>
    {{ range .Site.Menus.footer }}
    <li>
      <a class="nav-link" href="{{ .URL }}">
        {{ .Name }}
      </a>
    </li>
    {{ end }}
  </ul>

  <p>Want to get in touch? Drop me an 📧 to <a href="mailto:opensource@jamietanna.co.uk"
      rel="me">opensource@jamietanna.co.uk</a>.</p>
</footer>
