<nav>
  <ul>
    <li>
      <a href="/">
        <img id=nav-logo src="/img/ufo.svg" alt="Dependency Management Data logo - a UFO with an orange tractor beam emitter">

        <strong>
        Dependency Management Data
        </strong>
      </a>
    </li>

    {{ range .Site.Menus.main }}
    <li>
      <a class="nav-link" href="{{ .URL }}">
        {{ .Name }}
      </a>
    </li>
    {{ end }}
  </ul>
</nav>
