<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {{ $title := print .Site.Title " | " .Title }}
  {{ if .IsHome }}{{ $title = .Site.Title }}{{ end }}
  <title>{{ $title }}</title>
  <meta name="go-import" content="dmd.tanna.dev git https://gitlab.com/tanna.dev/dependency-management-data">
  <meta name="go-source" content="dmd.tanna.dev _ https://gitlab.com/tanna.dev/dependency-management-data/tree/main{/dir} https://gitlab.com/tanna.dev/dependency-management-data/blob/main{/dir}/{file}#L{line}">

  <meta property="og:title" content="{{ $title }}" />
  <meta property="og:locale" content="en_GB">
  <meta property="og:description" content="{{ .Description }}">
  <meta property="og:site_name" content="{{ .Site.Title }}">
  <meta property="og:image" content="/img/ufo-dark.svg">
  <meta property="og:type" content="article">
  {{ $date :=  dateFormat "2006-01-02T15:04:05-0700" .PublishDate }}
  <meta property="article:published_time" content="{{ $date }}">

  <meta name="twitter:card" content="summary" />
  <meta name="twitter:title" content="{{$title}}" />
  <meta name="twitter:description" content="{{ .Description }}" />
  <meta name="twitter:label1" value="Reading time" />
  {{ if eq 1 .ReadingTime }}
    <meta name="twitter:data1" value="{{ .ReadingTime }} min" />
  {{ else }}
    <meta name="twitter:data1" value="{{ .ReadingTime }} mins" />
  {{ end }}
  <meta name="twitter:image" content="/img/ufo-dark.svg" />

  <link rel="apple-touch-icon" sizes="180x180" href="/img/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon-16x16.png">
  <link rel="icon" sizes="192x192" href="/img/android-chrome-192x192.png">
  <link rel="icon" sizes="512x512" href="/img/android-chrome-512x512.png">

  <link rel="stylesheet" href="https://classless.de/classless.css">
  <style type="text/css" media="all">
    :root {
      --srcery-black: #1C1B19;
      --srcery-red: #EF2F27;
      --srcery-green: #519F50;
      --srcery-yellow: #FBB829;
      --srcery-blue: #2C78BF;
      --srcery-magenta: #E02C6D;
      --srcery-cyan: #0AAEB3;
      --srcery-white: #BAA67F;
      --srcery-bright-black: #918175;
      --srcery-bright-red: #F75341;
      --srcery-bright-green: #98BC37;
      --srcery-bright-yellow: #FED06E;
      --srcery-bright-blue: #68A8E4;
      --srcery-bright-magenta: #FF5C8F;
      --srcery-bright-cyan: #2BE4D0;
      --srcery-bright-white: #FCE8C3;
      --srcery-orange: #FF5F00;
      --srcery-bright-orange: #FF8700;
      --srcery-teal: #008080;
      --srcery-hard-black: #121212;
      --srcery-xgray1: #262626;
      --srcery-xgray2: #303030;
      --srcery-xgray3: #3A3A3A;
      --srcery-xgray4: #444444;
      --srcery-xgray5: #4E4E4E;
      --srcery-xgray6: #585858;
      --srcery-xgray7: #626262;
      --srcery-xgray8: #6C6C6C;
      --srcery-xgray9: #767676;
      --srcery-xgray10: #808080;
      --srcery-xgray11: #8A8A8A;
      --srcery-xgray12: #949494;
    }

    :root {
      --font-p: 1em/1.7 Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
      --font-h: .9em/1.5 Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
      --font-c: .9em/1.4 Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
      --width: 70rem;

      --cfg: var(--srcery-bright-white);
      --cbg: var(--srcery-black);
      --cdark: var(--srcery-hard-black);
      --cmed: var(--srcery-xgray5);
      --clight: var(--srcery-xgray1);
      --clink: var(--srcery-cyan);
      --cemph: var(--srcery-magenta);
    }

    nav {
      width: 150%;
    }

    #nav-logo {
      height: 32px;
    }

    #logo img {
      max-height: 200px
    }

    .breadcrumb ol {
      padding: 10px 16px;
      list-style: none;
    }

    .breadcrumb ol li {
      display: inline;
    }

    .breadcrumb ol li+li:before {
      padding: 8px;
      color: var(--srcery-bright-white);
      content: "/\00a0";
    }
  </style>

  {{ if .Params.asciinema }}
  <link rel="stylesheet" href="/css/asciinema-player.css">
  {{ end }}
  <link rel="webmention" href="https://webmention.io/dmd.tanna.dev/webmention" />
</head>
