<!DOCTYPE html>
<html>
{{- partial "head.html" . -}}

<body>
    {{- partial "header.html" . -}}

    {{ if not .IsHome }}
    <div aria-label="breadcrumb" class="breadcrumb"> <!-- not a <nav> due to our theme having very specific styles for <nav>s -->
        <ol>
            {{ range .Ancestors.Reverse }}
            <li>
                <a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a>
            </li>
            {{ end }}
            <li class="active">
                <a aria-current="page" href="{{ .RelPermalink }}">{{ .LinkTitle }}</a>
            </li>
        </ol>
    </div>
    {{ end }}

    <main>
        {{- block "main" . }}{{- end }}
    </main>
    {{- partial "footer.html" . -}}

    {{- partial "scripts.html" . -}}
</body>

</html>
