{{ define "main" }}
<h1>{{ .Title }}</h1>

{{ .Content }}

<ul>
  {{ range .Pages.ByWeight }}

  {{ if not .Description }}
  {{ errorf "Concepts require a description set" }}
  {{ end }}

  <li>
    <strong><dfn><a href="{{ .RelPermalink }}">{{ .Title }}</a></dfn></strong>: {{ .Description }}
  </li>
  {{ end }}
</ul>

{{ end }}
