{{ define "main" }}
<h1>{{ .Title }}</h1>

<div class="card hint">
  <p>
    <strong><dfn>{{ .Title }}</dfn></strong>: {{ .Description }}
  </p>
</div>

{{ if ne "<nav id=\"TableOfContents\"></nav>" .TableOfContents }}
<aside>
  <strong>Table of contents</strong>
  {{ .TableOfContents }}
</aside>
{{ end }}

{{ .Content }}
{{ end }}
