{{ define "main" }}
<h1>{{ .Title }}</h1>

{{ .Content }}

{{ $pages := .Pages }}

{{ range $p, $t := .Site.Taxonomies.tags }}
{{ $byTag := where $pages "Params.tags" "intersect" (slice $p) }}
{{ $taxonomy := index (index $.Site.Data.taxonomies "cookbook-tags") $p }}

{{ if not $taxonomy.name }}
{{ errorf "The taxonomy `%v` did not have a a `name` property - may be a new tag that's not been set up correctly in `data/taxonomies/cookbook-tags`?" $p }}
{{ end }}

<h2>{{ $taxonomy.name }}</h2>

<p>{{ $taxonomy.description }}</p>

<ul>
  {{ range $byTag.ByWeight }}
  <li>
    <strong><a href="{{ .RelPermalink }}">{{ .Title }}</a></strong>{{ if .Description }}: {{ .Description }}{{ end }}
  </li>
  {{ end }}
</ul>
{{ end }}

{{ $byTag := where $pages "Params.tags" "==" nil }}
{{ if $byTag }}
<h2>Uncategorised cookbooks</h2>

<p>Other cookbooks that are available, but have not been further categorised</p>

<ul>
  {{ range $byTag.ByWeight }}
  <li>
    <strong><a href="{{ .RelPermalink }}">{{ .Title }}</a></strong>{{ if .Description }}: {{ .Description }}{{ end }}
  </li>
  {{ end }}
</ul>

{{ end }} {{/* end if $byTag */}}
{{ end }} {{/* end define "main" */}}
