{{ define "main" }}
<div style="display: flex" id=logo>
  <div style="flex: 15%">
    <img src=/img/logo.svg />
  </div>
  <div style="flex: 80%">
    <img src=/img/logo-text.svg />
  </div>
</div>

<h2>What is it?</h2>

<div class="card hint">

  <p>Dependency Management Data (DMD) is a set of tooling to get a better understanding of the use of dependencies across your organisation.</p>

  <p>The project aims to give you a queryable interface into how Open Source and internal dependencies are used, so you can target changes across your projects and organisation more appropriately. </p>

</div>

<h2>What can it tell me?</h2>

<p>Have you ever wondered any of the below?</p>

<ul>
  <li>I wish I had an SQL database, filled with information about all my projects' dependencies that I could run queries against</li>
  <li>How is Open Source being used across the organisation?</li>
  <li>What languages and frameworks are being used at my company?</li>
</ul>

{{ $numCaseStudies := 3 }}
{{ $caseStudies := where .Site.RegularPages "Section" "eq" "case-studies" }}

<p>Or maybe you want to hear about some real-world <a href="/case-studies/">Case Studies</a> that dependency-management-data has helped solve?</p>

<ul>
  {{ range collections.First $numCaseStudies (collections.Shuffle $caseStudies) }}
  <li>
    <strong><a href="{{ .RelPermalink }}">{{ .Title }}</a></strong>: {{ .Description }}
  </li>
  {{ end }}
</ul>

<p>This suite of Free and Open Source software can give you a similar offering to some vendors, completely for free 🤑</p>

<h2>How does it work?</h2>

<p>There is <a href="/commands/dmd/">a command-line tool</a>, <code>dmd</code>, which aims to make this an easier way to interact with the data.</p>

<p>Once you have collected the data through <a href="/related/">one of the supported tools</a> you can then <a href="/commands/dmd_import/">import it</a>.</p>

<p>Once imported, you can use <a href="/web/">the inbuilt <code>dmd-web</code> tool</a> to get a Web frontend (including SQLite frontend via <a href="https://datasette.io/">Datasette</a>), load it locally through your preferred SQLite interface, or use <a href="/commands/dmd_report/">one of the built-in reports</a>.</p>

<p>If you want more of an idea of the command-line tool before you download it, check out <a href="/commands/dmd/">the docs for <code>dmd</code>.</a> </p>

<h2>How do I get started?</h2>

<h3>With my own data</h3>

<p>Check out the <a href="/cookbooks/getting-started/">Getting Started cookbook</a> or the <a href="/cookbooks/getting-started-sbom/">Getting Started with SBOM data cookbook</a>.</p>

<h3>With the example data</h3>

<p>Check out the <a href="/cookbooks/getting-started-example/">Getting Started (with the example data) cookbook</a>.</p>

<h2>Where can I learn more?</h2>

<p>Checking out the <a href="/cookbooks/">Cookbooks</a> and <a href="/case-studies/">Case Studies</a> are a great start to understanding more about how to use dependency-management-data and the insight it can give you.</p>

<p>There are also several linked blog posts and talks on the <a href="/related/">/related</a> page that may be worth looking into!</p>

{{ end }}
