{{ define "main" }}
<h1>{{ .Title }}</h1>

{{ .Content }}

<ul>
  {{ range .Pages.ByWeight }}

  {{ if not .Description }}
  {{ errorf "Case studies require a description set" }}
  {{ end }}

  <li>
    <strong><a href="{{ .RelPermalink }}">{{ .Title }}</a></strong>: {{ .Description }}
  </li>
  {{ end }}
</ul>

{{ end }} {{/* end define "main" */}}
