{{ define "main" }}
<h1>{{ .Title }}</h1>

<blockquote>
  {{ .Description }}
</blockquote>

{{ if ne "<nav id=\"TableOfContents\"></nav>" .TableOfContents }}
<aside>
  <strong>Table of contents</strong>
  {{ .TableOfContents }}
</aside>
{{ end }}

{{ .Content }}
{{ end }}
